@font-face {
    font-family: 'Aquino'; /*a name to be used later*/
    src: url(aquino.ttf); /*URL to font*/
}

td {
    font-size:1.5em;
    font-family:'Patrick Hand SC';
    color:#eee;
}

html,body {
    background: url("../resources/constantinople.png") no-repeat center bottom;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center bottom;
    background-color:#644b6d;
    background-position: 0% 100%;
    height:100%;
    min-height: 100%; 
    margin:0;
}

#body-wrapper {
    display:none;
}

h1 {
	font-family:'PT Serif';
    text-align: center;
    font-variant: small-caps;
    font-size:5em;
    color:white;
}

h4 {
    font-family:'Marcellus';
    text-align:center;
    color:#eee;
}

.person {
    font-family:'Marcellus';
    font-size:2em;
    padding:1em;
    color:white;
}

#fancy-hr {
	display: block;
    margin: 0 auto;
}

.p-head {
    text-decoration:underline;
}

.options-wrapper {
    width:100%;
    text-align:center;
    margin-top:2%;
    margin-bottom:2%;
    position:relative;
    min-height:20px;
}

.option-left {
    float:left;
    min-width:5%;
    margin-left:13%;
}

.option-right {
    float:right;
    min-width:5%;
    margin-right:13%;
}

.option-only {
    color: #ffffff;
    font-size: 15px;
    background: #763366;
    padding: 10px 20px 10px 20px;
    border: solid #61115d 2px;
    text-decoration: none;
    min-width:5%;
}

.option-only:hover {
  background: #8a507c;
  text-decoration: none;
}

hr {
    clear:both;
    width:100%;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}


/* CUSTOM NAVBAR */
.navbar-default {
	font-family:'Aquino';
    background-color: #53385d;
    border-color: #baafbe;
}

.navbar-default .navbar-nav > li > a {
    color: #ccc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #291c2e;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #D5D5D5;
}

/* LOGO SETTINGS */
.navbar-brand {
  padding: 0px;
  background: url("../resources/logo_white.png") center / contain no-repeat;
  width: 200px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.mla {
    margin-left:.5in;
    text-indent:-.5in;
    font-family:'Times New Roman';
    font-size:12pt;
}