@font-face {
    font-family: 'Aquino'; /*a name to be used later*/
    src: url(aquino.ttf); /*URL to font*/
}

h1 {
    font-family:'PT Serif';
    text-align: center;
    font-variant: small-caps;
    font-size:3em;
    color:white;
}

html,body {
    background: url("../resources/constantinople.png") no-repeat center bottom;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center bottom;
    background-position: 0% 100%;
    height:100%;
    min-height: 100%; 
    margin:0;
    background-color:#644b6d;
}

.section-wrapper {
    display:none;
}

.p-head {
    color:white;
    font-family:'Aquino';
    text-align:center;
}

#print {
    font-size:0.8em;
    text-align:center;
}

#print>a {
    color: #a99bae;
}

.text-block {
    color:#ddd;
    font-family:'Montserrat';
    line-height: 150%;
}

.options-wrapper {
    width:100%;
    text-align:center;
    margin-top:2%;
    margin-bottom:2%;
    position:relative;
    min-height:20px;
}

.option-left {
    float:left;
    min-width:5%;
    margin-left:13%;
}

.option-right {
    float:right;
    min-width:5%;
    margin-right:13%;
}

.option-only {
    color: #ffffff;
    font-size: 15px;
    background: #763366;
    padding: 10px 20px 10px 20px;
    border: solid #61115d 2px;
    text-decoration: none;
    min-width:5%;
}

.option-only:hover {
  background: #8a507c;
  text-decoration: none;
}


hr {
    clear:both;
    width:100%;
}

.friendly-dialogue {
    color:green;
}

.enemy-dialogue {
    color:red;
}

#title-img {
    width:500px;
    display: block;
    margin: 0 auto;
}

.game_img {
    width:300px;
    display: block;
    margin: 0 auto;
    padding:1em;
    border:1px solid #755f7d;
    border-radius:5px;
    display:block;
    background-color:#53385d;
}

/* CUSTOM NAVBAR */
.navbar-default {
	font-family:'Aquino';
    background-color: #53385d;
    border-color: #baafbe;
}

.navbar-default .navbar-nav > li > a {
    color: #ccc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #291c2e;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #D5D5D5;
}

/* LOGO SETTINGS */
.navbar-brand {
  padding: 0px;
  background: url("../resources/logo_white.png") center / contain no-repeat;
  width: 200px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}