h1 {
    text-align: center;
}

.p-head {
    text-decoration:underline;
}

.options-wrapper {
    width:100%;
    text-align:center;
    margin-top:2%;
}

.option-left {
    float:left;
    margin-left:10%;
}

.option-right {
    float:right;
    margin-right:10%;
}